@import "../../styles/variables";
@import "../../styles/mixins";

.dropdownBtn {
  @include flex;
  position: relative;
  cursor: pointer;
  flex: 1;
  height: 50px;
}

.dropdownBtn:hover {
  background-color: lighten($color: $midColor, $amount: 5);
  border-radius: 8px;
}

.label {
  color: white;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  text-align: center;
  color: white;
  top: 50px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: $midColor;
}

.dropdownItem {
  cursor: pointer;
  padding: 5px 0;
  &:hover {
    background-color: lighten($color: $midColor, $amount: 5);
  }
}
