@import "../../styles/variables";
@import "../../styles/mixins";

.contactForm {
  @include margin;
  width: calc(100% - 20px);
  label {
    color: $grey;
  }

  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid $grey;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: $midColor;
    border: none;
    box-shadow: 5px 5px 5px 0px rgba($color: #000000, $alpha: 0.1);
    color: white;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    background-color: lighten($color: $midColor, $amount: 5);
  }
  textarea {
    resize: none;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid $grey;
    border-radius: 5px;
  }
}
