@import "../../styles/variables";
@import "../../styles/mixins";

.task {
  @include flex($jc: space-between, $ai: flex-start);

  @include box(calc(100% - 40px), auto, 5px, $lightColor);
  @include margin;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include mq("tablet") {
    width: 80%;
    @include box(46%, auto, 5px, $lightColor);
  }
  @include mq("desktop") {
    width: 80%;
    @include box(29%, auto, 5px, $lightColor);
  }

  .summary {
    h3,
    h4 {
      padding: 5px 0;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    svg {
      padding-right: 5px;
    }
    min-width: 0;
  }

  .unassigned {
    @include box(100px, auto, 5px, rgb(247, 178, 74));
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }

  .assigned {
    @include box(100px, auto, 5px, rgb(126, 126, 240));
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }

  .completed {
    @include box(100px, auto, 5px, rgb(68, 172, 16));
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }
}
