@import "../../styles/variables";
@import "../../styles/mixins";

.task {
  @include box(calc(100% - 40px), auto, 5px, $lightColor);
  @include margin;
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include mq("tablet") {
    width: 80%;
    @include box(29%, auto, 5px, $lightColor);
  }
  h3,
  h4 {
    padding: 5px 0;
    @include flex($jc: flex-start);
  }
  svg {
    padding-right: 5px;
  }
}
