@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  @include margin;
  text-align: center;
  background-color: $grey;
  color: white;
  padding: 30px 0;
  margin-top: 30px;
  div {
    text-align: center;
    margin-top: 20px;
    @include margin;
    @include mq("tablet") {
      @include flex($jc: space-around, $ai: flex-start);
    }
    @include mq("desktop") {
      width: 75%;
    }
    div {
      @include flex(column);
      width: 180px;
      p {
        margin-top: 5px;
      }
    }
  }
}

.copyr {
  margin-top: 30px;
}
