@import "../variables";
@import "../mixins";

.contact {
  @include margin;
  min-height: calc(100vh - 380px);
  @include mq("tablet") {
    width: 60%;
  }
  @include mq("desktop") {
    @include margin;
    width: 50%;
  }
  h3 {
    margin: 30px 10px;
  }
}
