@import "../variables";
@import "../mixins";

.task {
  margin: 10px;
  @include margin;
  @include mq("tablet") {
    width: 60%;
  }
  @include mq("desktop") {
    @include margin;
    width: 50%;
  }
  h2 {
    margin: 30px 10px;
  }
  p {
    margin: 20px 10px;
  }
  div {
    @include flex;
    Button {
      width: 100%;
      height: 50px;
      margin: 5px 10px;
      padding: 0;
    }
    p {
      text-align: center;
      width: 100%;
      margin: 0 10px;
    }
  }
}
